html, body {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
 h1, h2, h3, h4, h5 {
     font-weight: 300;
     padding: 0px;
     margin: 0;
 }

.header {
    background: url("../img/wedding4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    box-shadow: inset 0 0 160px rgba(0, 0, 0, 0.7);
}

.logo-brand {

}

.logo {
    content: url("../img/logo.png");
    width: 70px;
    padding-left: 50px;
    padding-top: 25px;
    float: left;
}

.brand {
    float: left;
    margin-left: 20px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-top:35px;
}


.menu {
    float: right;
    padding-top: 40px;
    padding-right: 50px;
}

.menu li {
    display: inline;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

#big-slogan {
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
    text-transform: uppercase;
    max-width: 80%;
}


.slogan1 {
    font-size: 3.0em;
    /*font-size:3.2vw;*/
    letter-spacing: .002em;
    line-height: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: inline-block;

}

.slogan2 {
    font-size: 73px;
    letter-spacing: .09em;
    line-height: 80px;
    padding-top: 25px;
}

#trial button {
    margin: 0 auto;
    border-radius: 2px;
    display: inline-block;
    background-color: #e78970;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    verticle-align: baseline;


}
